@model SiteSharper.Writer.PageWriter

@using System.Linq;
@using System;
@using Model = SiteSharper.Model;

@{
	var site = Model.Site;
	var siteContext = Model.SiteWriter;
	var page = Model.Page;
	var homePage_ = site.HomePage_;
	var logo_ = site.Logo_;
	var menu = site.Menu;
	var footerMenu = site.FooterMenu;
	var shortcutIconFilename_ = siteContext.ShortcutIconFilename_;
	Func<Model.IPageRef, string> urlOf = site.urlOf;
}
<html>
<head>
	<!-- required for XHTML -->
	<meta http-equiv="content-type" content="text/html;charset=utf-8"/>

	<title>@site.Name - @page.Name</title>
	<link rel="stylesheet" href="/site.css" type="text/css" media="screen"/> 

	@if (shortcutIconFilename_ != null)
	{
		<link rel="shortcut icon" href="/@shortcutIconFilename_" />
	}

	@{ WriteLiteral(site.renderCSSReferences());}
	@{ WriteLiteral(site.renderFeeds());}
	
	@if (page.Header != "")
	{
		WriteLiteral(page.Header);
	}

</head>
<body class="frame frame-fixed">
	<div id="site-content-top" class="noselect">
		<div class="logo">
			@if (logo_ != null)
			{
				<span class="logo-name">
					@if (homePage_ != null)
					{
						<a href="@urlOf(homePage_)">
							<img src="@logo_" alt="@site.Name"/>
						</a>
					}
					else
					{
						<img src="@logo_" alt="@site.Name"/>
					}
				</span>
			}
			else
			{
				<span class="logo-name">
					@if (homePage_ != null)
					{
						<a href="@urlOf(homePage_)">@site.Name</a>
					}
					else
					{
						@site.Name
					}
				</span>
			}
			<span class="logo-slogan">
				@site.Slogan
			</span>
		</div>
	
		<div class="navigation">
			@foreach (var menuPage in menu.Pages)
			{
				var url = urlOf(menuPage);
				var name = menuPage.Name;
				if (menuPage.Id == page.Id)
				{
					<a class="navigation-item navigation-item-current" href="@url">@name</a>
				}
				else
				{
					<a class="navigation-item" href="@url">@name</a>
				}
			}
		</div>
	</div>

	<div class="content">
		@{ WriteLiteral(page.Content); }
	</div>

	<div id="site-content-bottom">
		<div class="footer noselect">
			<div class="navigation">
				@foreach (var menuPage in footerMenu.Pages)
				{
					var url = urlOf(menuPage);
					var name = menuPage.Name;
					if (menuPage.Id == page.Id)
					{
						<a class="navigation-item navigation-item-current" href="@url">@name</a>
					}
					else
					{
						<a class="navigation-item" href="@url">@name</a>
					}
				}
			</div>
		</div>
	</div>	 

	@{WriteLiteral(siteContext.TrackingCode);}
</body>
</html>
